<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Olá! Thymeleaf configurado!</h1>
	
	<div th:each="erro : ${#fields.detailedErrors('${contagem.*}')}">
			<span th:text="${erro.message}"></span>
	</div>
	
	<form method="POST" th:object="${contagem}">
	
		<span th:text="${mensagem}"></span>
		
		<br />
			<label>Nome:</label>
			<input type="text" id="nome" th:field="*{nome}">
			<br>
			<label>Sistema:</label>
			<input type="text" id="sistema" th:field="*{sistema}">
			<br>	
			<label>Descrição:</label>
			<textarea rows="3" cols="30" id="observacao" th:field="*{observacao}"></textarea>
			<br>		
			<input type="submit" value="Salvar">
	</form>



</body>

</html>